/* 
font-family: 'Roboto', sans-serif; (Основной шрифт страницы)
font-style: normal; (Основной стиль шрифта страницы)
color: #757575; (Первый цвет шрифта)
color: #212121; (Второй цвет шрифта)
color: #2196F3; (Третий цвет шрифта)
background-color: #FFFFFF; (header)
background-color: #2F303A; (секция Заголовок страницы)
background-color: #E5E5E5; (секции Особенности компаниии, Чем мы занимаемся)
background-color: #F5F4FA; (секция Наша команда)
background: #2F303A; (Футер)
*/
/* Studio */
:root {
  --header-hero-color: #ffffff;
  --text-fifth-color: #ffffff;
  --footer-hero-bg-color: #2f303a;
  --text-first-color: #757575;
  --text-second-color: #212121;
  --text-third-color: #2196f3;
  --text-fourth-color: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-first-color);

  /* Reset */
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* -------- */
ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------- */
/* Header */

.header-container {
  display: flex;
  align-items: center;
}
nav {
  margin-left: 93px;
}
.nav-container {
  display: flex;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.nav-container > .nav-item:not(:first-child) {
  margin-left: 50px;
}
.header {
  /* margin-left: auto;
  margin-right: auto; */
  background-color: var(--header-hero-color);
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-second-color);
}

.logo-accent {
  color: var(--text-third-color);
}
.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
}
.header-contacts > li:last-child {
  margin-left: 50px;
}
.current {
  color: var(--text-third-color);
}
.link:hover,
.link:focus,
.footer-link:hover,
.footer-link:focus,
.logo:hover,
.logo:focus {
  color: var(--text-third-color);
}
.contacts-link {
  color: var(--text-first-color);
}

/* Main */

/* Hero */
.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-hero-bg-color);
}

.hero-title {
  width: 700px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-hero-color);
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: 0;
  /* width: 200px;
  height: 50px; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--header-hero-color);
  background-color: var(--text-third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Особенности компаниии */

.advantages-set,
.our-team-set {
  display: flex;
  margin: 0;
  margin-right: -30px;
  /* flex-wrap: wrap; */
  /* width: 1200px; */
}
.advantages-item,
.our-team-item {
  flex-basis: calc(100% / 4 - 30px);
  /* outline: solid 1px coral; */
  margin-right: 30px;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-second-color);
}
.advantages-text,
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.advantages-text {
  margin-top: 10px;
}
/* Чем мы занимаемся */

.our-work {
  padding-top: 0;
}
.our-work-set {
  display: flex;
  margin: 0;
  margin-right: -30px;
}
.our-work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}
/* Наша команда */
.our-team {
  background-color: #f5f4fa;
}
.our-team-item {
  flex-basis: calc(100% / 4 - 30px);
  /* outline: solid 1px coral; */
  background: var(--header-hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-member {
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team-text {
  margin-top: 10px;
}
.our-team-title,
.our-team-text,
.exemples-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}
.our-team-text {
  font-weight: 400;
  color: var(--text-first-color);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-hero-bg-color);
}
.address {
  margin-top: 20px;
}
.address-item:not(:first-child) {
  margin-top: 9px;
}
.footer-link {
  display: block;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
  color: var(--text-first-color);
}
.address-link {
  color: var(--text-fifth-color);
}
.logo-accent-studio {
  color: var(--text-fifth-color);
}

/* Portfolio */

.exemples-set {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.exemples-item:not(:last-child) {
  margin-right: 8px;
  padding: 0;
}
.exemples-button {
  display: block;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  cursor: pointer;
  line-height: 1.63;
  background-color: var(--text-fourth-color);
}
.exemples-button:hover {
  color: var(--text-fourth-color);
  background-color: var(--text-third-color);
}
/* Galery */
.galery-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}
.galery-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-top: 30px;
  background: #ffffff;
}
.item-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}
.galery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-second-color);
}
.galery-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-first-color);
}
